<div class="row mt-5">
  <div class="col-sm-6">
    <img width="600px" src="{{course.img}}" alt="">
  </div>
  <div class="col-sm-6">
    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">{{course.name}}</h2>
    <h5 style="margin: 40px 0; color: orangered;">Giá : {{course.price}} VNĐ</h5>
    <p>{{course.desc}}</p>
    <button style="margin-left: 130px; border-radius: 5px; padding: 10px 20px; color: rgb(255, 60, 0); border-color: rgb(255, 60, 0); background-color: rgb(250, 227, 208); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Thêm vào giỏ hàng</button>
    <button style="margin-left: 30px;border-radius: 2px; padding: 10px 20px;  background-color: orangered; color: white; border-color: orangered; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mua ngay</button>
  </div>
</div>