<div class="card center mt-3">
    <div class="card-header" style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Lều Hữu Thiện
        <p>Assignment giai đoạn 1</p>
    </div>
</div>